<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <button id="theme-toggle" type="button" aria-label="Toggle theme"></button>
        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
                {{ partial "footer.html" }}
            </div>
        </main>
        <script src="/js/theme_switcher.js"></script>
    </body>
</html>
